* {
  padding:0;
  margin:0;
  box-sizing:border-box;
}

.app {
  position:relative;
  width:100%;
  height:100%;
  display:flex;
  flex-direction:column;
  background-image:url('./images/jammyPurple.jpg');
  background-size:cover;
}